# Создай фаил .env
# скопируй из env.template в .env

DEBUG = True
DB_SQLITE = True

DB_ENGINE = 'django.db.backends.postgresql'
DB_NAME = 'not_today'
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = 'postgres'
DB_HOST = '127.0.0.1'
DB_PORT = '5432'
